body {
  background-color: #eee;
}

/* 
.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --blue: #0A91DE;
  --dark-grey1: #666F74;
  --light-grey: #DDDDDD;
  --dark-grey2: #727B81;
  --nunito: "Nunito", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--manrope);
}

.inner-container {
  margin: auto;
  max-width: 1240px;
}

.main-menu {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding: 0;
  position: relative;
}

h1 {
  font-family: var(--nunito);
  font-size: 1.25rem;
  color: var(--dark-grey2);
  font-weight: bold;
  margin: 0;
  margin-bottom: .5rem;
}

h1 span {
  color: var(--blue);
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-grey2);
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--light-grey);
}

.main-menu ul {
  padding: 0;
  list-style-type: none;
}

.main-menu li {
  list-style-type: none;
}

.main-menu li a {
  display: flex;
  gap: .5rem;
  align-items: center;
}

a {
  color: var(--dark-grey1);
  text-decoration: none;
  transition: all 0.35;
  font-size: 1.125rem;
}

a:hover,
a:focus {
  color: var(--blue);
  text-decoration: underline;
}

header {
  border-right: 1px solid var(--light-grey);
  background-color: white;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 100vh;
  width: 14.5rem;
}

.sub-menu {
  position: absolute;
  left: 60%;
  top: -1rem;
  min-width: 10.875rem;
  background-color: white;
  border: 3px solid var(--blue);
  border-radius: 7px;
  z-index: 1;
  visibility: 0;
  opacity: 0;
}

.sub-menu li {
  padding-left: 1rem;
  padding-top: 1rem;
}

.sub-menu li:first-child {
  padding-top: 1 rem;
}

.sub-menu li a {
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 0.5rem
}

.sub-menu li:last-child a {
  border-bottom: none;
  padding-bottom: 1rem;
}

.main-menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}