body {
  background-color: #eee;
}

/* 
.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --blue: #0A91DE;
  --dark-grey1: #666F74;
  --light-grey: #DDDDDD;
  --dark-grey2: #727B81;
  --nunito: "Nunito", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--manrope);
}

.inner-container {
  margin: auto;
  max-width: 1240px;
}

.main-menu {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

h1 {
  font-family: var(--nunito);
  font-size: 1.25rem;
  color: var(--dark-grey2);
  font-weight: bold;
  margin: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

h1 span {
  color: var(--blue);
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-grey2);
  margin-left: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--light-grey);
}

.main-menu ul {
  padding: 0;
  list-style-type: none;
}

.main-menu li {
  list-style-type: none;
}

.main-menu li a {
  display: flex;
  gap: .5rem;
}
